.header{
    position:fixed;
    top:0;
    left:0;
    right:0;
}

.cont{
    margin-top: 5em;
    margin-bottom: 3em;
}

h1{
    font-size: 1.8em;
    font-family: Verdana;
}




.tb{
    width:100%;
    border-bottom:1px solid #b4b4b4;

}

.tb tr{
    border-bottom:1px solid #b4b4b4;
}
.tb td {
    height: 5em;
    display: table-cell;
    vertical-align: middle;
}
.tb .tdspan{
    width:6em;
    text-align: center;
}

.tb a{
    color:#b4b4b4;
    font-size: 1.3em;
    font-family: Verdana;
    padding:0;
}

.tb a:hover{
    color:#b4b4b4;
}

.tb .tag{
    margin-bottom: 0.5em;
    margin-right: 0.5em;
}

.foot{
    position: fixed;
    bottom:0;
    left:0;
    right:0;
    height:3em;
    text-align: center;
    background-color: #ffffff;
}

.arrowdiv{
    text-align: center;
}

.arrowdiv button{
    margin:0;
    padding:0;
    background-color:transparent;
    border:1px solid transparent;
    font-size:1.3em;
}

.arrowdiv button:hover{
    background-color: #e2e2e2;
    border-radius: 5px;
}

.arrowdiv p{
    margin:0;
}

.margbot{
    margin-bottom: 1em;
}

.qTop{
 margin-bottom: 0.2em;
}

.qTop p{
 margin:0;
}

